NEXT_PUBLIC_SHOWCASE_API_URL=http://bc-wallet-api-server:5005
NEXT_PUBLIC_WALLET_URL=http://localhost:5002/digital-trust/showcase
NEXT_AUTH_SECRET=mmtC6CNuCMPiZu0WQcq1GESz959bLkj+ggKqY9GMTf0=

# ─── Root tentant Authentication confg 
OIDC_DEFAULT_TENANT=showcase-tenantA
OIDC_ROOT_ISSUER_URL=<oidc_root_issuer_url>
OIDC_ROOT_CLIENT_ID=showcase-root
OIDC_ROOT_CLIENT_SECRET=your_keycloak_root_client_secret
OIDC_TRUST_HOST=true
OIDC_AUTH_URL="http://localhost:5003"
