NEXT_PUBLIC_SHOWCASE_BACKEND='https://bcshowcase-api.dev.nborbit.ca' 
NEXT_PUBLIC_WALLET_URL='https://digital.gov.bc.ca/digital-trust/showcase'
AUTH_SECRET=""
AUTH_KEYCLOAK_ID="showcase-tenantA"
AUTH_KEYCLOAK_SECRET=""
AUTH_KEYCLOAK_ISSUER="https://auth01.test.sphereon.com/auth/realms/BC"
AUTH_TRUST_HOST=true
AUTH_REDIRECT_PROXY_URL="http://localhost:3003/api/auth"